KV Mart/Web References/wrPeoples/Peoples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="_GetCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetCustomerResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="_GetCustomers">
        <s:complexType />
      </s:element>
      <s:element name="_GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetCustomersResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServerToClient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="DT">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DS">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="_AddCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_AddCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_AddCustomerResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_UpdateCustomerResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_DeleteCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_DeleteCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DeleteCustomerResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetCustomerAccountByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetCustomerAccountByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetCustomerAccountByIDResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetCustomerAccount">
        <s:complexType />
      </s:element>
      <s:element name="_GetCustomerAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetCustomerAccountResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetCustomerBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetCustomerBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetCustomerBalanceResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_AddCustomerTrans">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ca" type="tns:CustomerAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerAccount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Debit" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Credit" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="_AddCustomerTransResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_AddCustomerTransResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefaultCustomer">
        <s:complexType />
      </s:element>
      <s:element name="DefaultCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefaultCustomerResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_CustomerDetailReports">
        <s:complexType />
      </s:element>
      <s:element name="_CustomerDetailReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_CustomerDetailReportsResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_CustomerDetailReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_CustomerDetailReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_CustomerDetailReportResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_AccountStatement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DateFrom" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="DateTo" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_AccountStatementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_AccountStatementResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetSuppliers">
        <s:complexType />
      </s:element>
      <s:element name="_GetSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetSuppliersResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetSupplierResult" type="tns:Supplier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Supplier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSTIN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="_AddSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Supplier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_AddSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_AddSupplierResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Supplier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_UpdateSupplierResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_DeleteSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_DeleteSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DeleteSupplierResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetSupplierAccount">
        <s:complexType />
      </s:element>
      <s:element name="_GetSupplierAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetSupplierAccountResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetSupplierBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetSupplierBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetSupplierBalanceResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_AddSupplierTrans">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sa" type="tns:SupplierAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SupplierAccount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Debit" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Credit" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="_AddSupplierTransResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_AddSupplierTransResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_DefaultSupplier">
        <s:complexType />
      </s:element>
      <s:element name="_DefaultSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DefaultSupplierResult" type="tns:Supplier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_SupplierDetailReport">
        <s:complexType />
      </s:element>
      <s:element name="_SupplierDetailReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_SupplierDetailReportResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="_GetCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:_GetCustomer" />
  </wsdl:message>
  <wsdl:message name="_GetCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:_GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="_GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:_GetCustomers" />
  </wsdl:message>
  <wsdl:message name="_GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:_GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="_AddCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:_AddCustomer" />
  </wsdl:message>
  <wsdl:message name="_AddCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:_AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="_UpdateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:_UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="_UpdateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:_UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="_DeleteCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:_DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="_DeleteCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:_DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="_GetCustomerAccountByIDSoapIn">
    <wsdl:part name="parameters" element="tns:_GetCustomerAccountByID" />
  </wsdl:message>
  <wsdl:message name="_GetCustomerAccountByIDSoapOut">
    <wsdl:part name="parameters" element="tns:_GetCustomerAccountByIDResponse" />
  </wsdl:message>
  <wsdl:message name="_GetCustomerAccountSoapIn">
    <wsdl:part name="parameters" element="tns:_GetCustomerAccount" />
  </wsdl:message>
  <wsdl:message name="_GetCustomerAccountSoapOut">
    <wsdl:part name="parameters" element="tns:_GetCustomerAccountResponse" />
  </wsdl:message>
  <wsdl:message name="_GetCustomerBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:_GetCustomerBalance" />
  </wsdl:message>
  <wsdl:message name="_GetCustomerBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:_GetCustomerBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="_AddCustomerTransSoapIn">
    <wsdl:part name="parameters" element="tns:_AddCustomerTrans" />
  </wsdl:message>
  <wsdl:message name="_AddCustomerTransSoapOut">
    <wsdl:part name="parameters" element="tns:_AddCustomerTransResponse" />
  </wsdl:message>
  <wsdl:message name="DefaultCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:DefaultCustomer" />
  </wsdl:message>
  <wsdl:message name="DefaultCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:DefaultCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="_CustomerDetailReportsSoapIn">
    <wsdl:part name="parameters" element="tns:_CustomerDetailReports" />
  </wsdl:message>
  <wsdl:message name="_CustomerDetailReportsSoapOut">
    <wsdl:part name="parameters" element="tns:_CustomerDetailReportsResponse" />
  </wsdl:message>
  <wsdl:message name="_CustomerDetailReportSoapIn">
    <wsdl:part name="parameters" element="tns:_CustomerDetailReport" />
  </wsdl:message>
  <wsdl:message name="_CustomerDetailReportSoapOut">
    <wsdl:part name="parameters" element="tns:_CustomerDetailReportResponse" />
  </wsdl:message>
  <wsdl:message name="_AccountStatementSoapIn">
    <wsdl:part name="parameters" element="tns:_AccountStatement" />
  </wsdl:message>
  <wsdl:message name="_AccountStatementSoapOut">
    <wsdl:part name="parameters" element="tns:_AccountStatementResponse" />
  </wsdl:message>
  <wsdl:message name="_GetSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:_GetSuppliers" />
  </wsdl:message>
  <wsdl:message name="_GetSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:_GetSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="_GetSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:_GetSupplier" />
  </wsdl:message>
  <wsdl:message name="_GetSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:_GetSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="_AddSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:_AddSupplier" />
  </wsdl:message>
  <wsdl:message name="_AddSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:_AddSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="_UpdateSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:_UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="_UpdateSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:_UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="_DeleteSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:_DeleteSupplier" />
  </wsdl:message>
  <wsdl:message name="_DeleteSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:_DeleteSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="_GetSupplierAccountSoapIn">
    <wsdl:part name="parameters" element="tns:_GetSupplierAccount" />
  </wsdl:message>
  <wsdl:message name="_GetSupplierAccountSoapOut">
    <wsdl:part name="parameters" element="tns:_GetSupplierAccountResponse" />
  </wsdl:message>
  <wsdl:message name="_GetSupplierBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:_GetSupplierBalance" />
  </wsdl:message>
  <wsdl:message name="_GetSupplierBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:_GetSupplierBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="_AddSupplierTransSoapIn">
    <wsdl:part name="parameters" element="tns:_AddSupplierTrans" />
  </wsdl:message>
  <wsdl:message name="_AddSupplierTransSoapOut">
    <wsdl:part name="parameters" element="tns:_AddSupplierTransResponse" />
  </wsdl:message>
  <wsdl:message name="_DefaultSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:_DefaultSupplier" />
  </wsdl:message>
  <wsdl:message name="_DefaultSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:_DefaultSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="_SupplierDetailReportSoapIn">
    <wsdl:part name="parameters" element="tns:_SupplierDetailReport" />
  </wsdl:message>
  <wsdl:message name="_SupplierDetailReportSoapOut">
    <wsdl:part name="parameters" element="tns:_SupplierDetailReportResponse" />
  </wsdl:message>
  <wsdl:portType name="PeoplesSoap">
    <wsdl:operation name="_GetCustomer">
      <wsdl:input message="tns:_GetCustomerSoapIn" />
      <wsdl:output message="tns:_GetCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetCustomers">
      <wsdl:input message="tns:_GetCustomersSoapIn" />
      <wsdl:output message="tns:_GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_AddCustomer">
      <wsdl:input message="tns:_AddCustomerSoapIn" />
      <wsdl:output message="tns:_AddCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_UpdateCustomer">
      <wsdl:input message="tns:_UpdateCustomerSoapIn" />
      <wsdl:output message="tns:_UpdateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_DeleteCustomer">
      <wsdl:input message="tns:_DeleteCustomerSoapIn" />
      <wsdl:output message="tns:_DeleteCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetCustomerAccountByID">
      <wsdl:input message="tns:_GetCustomerAccountByIDSoapIn" />
      <wsdl:output message="tns:_GetCustomerAccountByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetCustomerAccount">
      <wsdl:input message="tns:_GetCustomerAccountSoapIn" />
      <wsdl:output message="tns:_GetCustomerAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetCustomerBalance">
      <wsdl:input message="tns:_GetCustomerBalanceSoapIn" />
      <wsdl:output message="tns:_GetCustomerBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_AddCustomerTrans">
      <wsdl:input message="tns:_AddCustomerTransSoapIn" />
      <wsdl:output message="tns:_AddCustomerTransSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefaultCustomer">
      <wsdl:input message="tns:DefaultCustomerSoapIn" />
      <wsdl:output message="tns:DefaultCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_CustomerDetailReports">
      <wsdl:input message="tns:_CustomerDetailReportsSoapIn" />
      <wsdl:output message="tns:_CustomerDetailReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_CustomerDetailReport">
      <wsdl:input message="tns:_CustomerDetailReportSoapIn" />
      <wsdl:output message="tns:_CustomerDetailReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_AccountStatement">
      <wsdl:input message="tns:_AccountStatementSoapIn" />
      <wsdl:output message="tns:_AccountStatementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetSuppliers">
      <wsdl:input message="tns:_GetSuppliersSoapIn" />
      <wsdl:output message="tns:_GetSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetSupplier">
      <wsdl:input message="tns:_GetSupplierSoapIn" />
      <wsdl:output message="tns:_GetSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_AddSupplier">
      <wsdl:input message="tns:_AddSupplierSoapIn" />
      <wsdl:output message="tns:_AddSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_UpdateSupplier">
      <wsdl:input message="tns:_UpdateSupplierSoapIn" />
      <wsdl:output message="tns:_UpdateSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_DeleteSupplier">
      <wsdl:input message="tns:_DeleteSupplierSoapIn" />
      <wsdl:output message="tns:_DeleteSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetSupplierAccount">
      <wsdl:input message="tns:_GetSupplierAccountSoapIn" />
      <wsdl:output message="tns:_GetSupplierAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetSupplierBalance">
      <wsdl:input message="tns:_GetSupplierBalanceSoapIn" />
      <wsdl:output message="tns:_GetSupplierBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_AddSupplierTrans">
      <wsdl:input message="tns:_AddSupplierTransSoapIn" />
      <wsdl:output message="tns:_AddSupplierTransSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_DefaultSupplier">
      <wsdl:input message="tns:_DefaultSupplierSoapIn" />
      <wsdl:output message="tns:_DefaultSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_SupplierDetailReport">
      <wsdl:input message="tns:_SupplierDetailReportSoapIn" />
      <wsdl:output message="tns:_SupplierDetailReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PeoplesSoap" type="tns:PeoplesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_GetCustomer">
      <soap:operation soapAction="http://tempuri.org/_GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCustomers">
      <soap:operation soapAction="http://tempuri.org/_GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddCustomer">
      <soap:operation soapAction="http://tempuri.org/_AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/_UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/_DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCustomerAccountByID">
      <soap:operation soapAction="http://tempuri.org/_GetCustomerAccountByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCustomerAccount">
      <soap:operation soapAction="http://tempuri.org/_GetCustomerAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCustomerBalance">
      <soap:operation soapAction="http://tempuri.org/_GetCustomerBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddCustomerTrans">
      <soap:operation soapAction="http://tempuri.org/_AddCustomerTrans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefaultCustomer">
      <soap:operation soapAction="http://tempuri.org/DefaultCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_CustomerDetailReports">
      <soap:operation soapAction="http://tempuri.org/_CustomerDetailReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_CustomerDetailReport">
      <soap:operation soapAction="http://tempuri.org/_CustomerDetailReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AccountStatement">
      <soap:operation soapAction="http://tempuri.org/_AccountStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSuppliers">
      <soap:operation soapAction="http://tempuri.org/_GetSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSupplier">
      <soap:operation soapAction="http://tempuri.org/_GetSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddSupplier">
      <soap:operation soapAction="http://tempuri.org/_AddSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateSupplier">
      <soap:operation soapAction="http://tempuri.org/_UpdateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DeleteSupplier">
      <soap:operation soapAction="http://tempuri.org/_DeleteSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSupplierAccount">
      <soap:operation soapAction="http://tempuri.org/_GetSupplierAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSupplierBalance">
      <soap:operation soapAction="http://tempuri.org/_GetSupplierBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddSupplierTrans">
      <soap:operation soapAction="http://tempuri.org/_AddSupplierTrans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DefaultSupplier">
      <soap:operation soapAction="http://tempuri.org/_DefaultSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_SupplierDetailReport">
      <soap:operation soapAction="http://tempuri.org/_SupplierDetailReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PeoplesSoap12" type="tns:PeoplesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_GetCustomer">
      <soap12:operation soapAction="http://tempuri.org/_GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCustomers">
      <soap12:operation soapAction="http://tempuri.org/_GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddCustomer">
      <soap12:operation soapAction="http://tempuri.org/_AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateCustomer">
      <soap12:operation soapAction="http://tempuri.org/_UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/_DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCustomerAccountByID">
      <soap12:operation soapAction="http://tempuri.org/_GetCustomerAccountByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCustomerAccount">
      <soap12:operation soapAction="http://tempuri.org/_GetCustomerAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCustomerBalance">
      <soap12:operation soapAction="http://tempuri.org/_GetCustomerBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddCustomerTrans">
      <soap12:operation soapAction="http://tempuri.org/_AddCustomerTrans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefaultCustomer">
      <soap12:operation soapAction="http://tempuri.org/DefaultCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_CustomerDetailReports">
      <soap12:operation soapAction="http://tempuri.org/_CustomerDetailReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_CustomerDetailReport">
      <soap12:operation soapAction="http://tempuri.org/_CustomerDetailReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AccountStatement">
      <soap12:operation soapAction="http://tempuri.org/_AccountStatement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSuppliers">
      <soap12:operation soapAction="http://tempuri.org/_GetSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSupplier">
      <soap12:operation soapAction="http://tempuri.org/_GetSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddSupplier">
      <soap12:operation soapAction="http://tempuri.org/_AddSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateSupplier">
      <soap12:operation soapAction="http://tempuri.org/_UpdateSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DeleteSupplier">
      <soap12:operation soapAction="http://tempuri.org/_DeleteSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSupplierAccount">
      <soap12:operation soapAction="http://tempuri.org/_GetSupplierAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSupplierBalance">
      <soap12:operation soapAction="http://tempuri.org/_GetSupplierBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddSupplierTrans">
      <soap12:operation soapAction="http://tempuri.org/_AddSupplierTrans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DefaultSupplier">
      <soap12:operation soapAction="http://tempuri.org/_DefaultSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_SupplierDetailReport">
      <soap12:operation soapAction="http://tempuri.org/_SupplierDetailReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Peoples">
    <wsdl:port name="PeoplesSoap" binding="tns:PeoplesSoap">
      <soap:address location="http://localhost:61258/Peoples.asmx" />
    </wsdl:port>
    <wsdl:port name="PeoplesSoap12" binding="tns:PeoplesSoap12">
      <soap12:address location="http://localhost:61258/Peoples.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>