KV Mart/Web References/wrProducts/Products.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="_GetCategories">
        <s:complexType />
      </s:element>
      <s:element name="_GetCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetCategoriesResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServerToClient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="DT">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DS">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="_GetCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetCategoryResult" type="tns:Category" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Category">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="_GetSubCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetSubCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetSubCategoryResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetSubCategories">
        <s:complexType />
      </s:element>
      <s:element name="_GetSubCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetSubCategoriesResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetCompanies">
        <s:complexType />
      </s:element>
      <s:element name="_GetCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetCompaniesResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_AddCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Category" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_AddCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_AddCategoryResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Category" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_UpdateCategoryResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_DeleteCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_DeleteCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DeleteCategoryResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetProducts">
        <s:complexType />
      </s:element>
      <s:element name="_GetProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetProductsResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetAvailableProducts">
        <s:complexType />
      </s:element>
      <s:element name="_GetAvailableProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetAvailableProductsResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetProductDetailByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetProductDetailByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetProductDetailByIDResult" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Category" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SubCategory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PackageSize" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BuyingValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SellingValue" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MfgDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HSN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="_GetProductCountByBarCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetProductCountByBarCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_GetProductCountByBarCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetProductDataByBarCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetProductDataByBarCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetProductDataByBarCodeResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetProductDetailByBarCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_GetProductDetailByBarCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_GetProductDetailByBarCodeResult" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_InsertProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_InsertProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_InsertProductResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_UpdateProductResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_DeleteProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_DeleteProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DeleteProductResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateProductQuantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_UpdateProductQuantityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_UpdateProductQuantityResult" type="tns:ServerToClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="_GetCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:_GetCategories" />
  </wsdl:message>
  <wsdl:message name="_GetCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:_GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="_GetCategorySoapIn">
    <wsdl:part name="parameters" element="tns:_GetCategory" />
  </wsdl:message>
  <wsdl:message name="_GetCategorySoapOut">
    <wsdl:part name="parameters" element="tns:_GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="_GetSubCategorySoapIn">
    <wsdl:part name="parameters" element="tns:_GetSubCategory" />
  </wsdl:message>
  <wsdl:message name="_GetSubCategorySoapOut">
    <wsdl:part name="parameters" element="tns:_GetSubCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="_GetSubCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:_GetSubCategories" />
  </wsdl:message>
  <wsdl:message name="_GetSubCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:_GetSubCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="_GetCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:_GetCompanies" />
  </wsdl:message>
  <wsdl:message name="_GetCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:_GetCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="_AddCategorySoapIn">
    <wsdl:part name="parameters" element="tns:_AddCategory" />
  </wsdl:message>
  <wsdl:message name="_AddCategorySoapOut">
    <wsdl:part name="parameters" element="tns:_AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="_UpdateCategorySoapIn">
    <wsdl:part name="parameters" element="tns:_UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="_UpdateCategorySoapOut">
    <wsdl:part name="parameters" element="tns:_UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="_DeleteCategorySoapIn">
    <wsdl:part name="parameters" element="tns:_DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="_DeleteCategorySoapOut">
    <wsdl:part name="parameters" element="tns:_DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="_GetProductsSoapIn">
    <wsdl:part name="parameters" element="tns:_GetProducts" />
  </wsdl:message>
  <wsdl:message name="_GetProductsSoapOut">
    <wsdl:part name="parameters" element="tns:_GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="_GetAvailableProductsSoapIn">
    <wsdl:part name="parameters" element="tns:_GetAvailableProducts" />
  </wsdl:message>
  <wsdl:message name="_GetAvailableProductsSoapOut">
    <wsdl:part name="parameters" element="tns:_GetAvailableProductsResponse" />
  </wsdl:message>
  <wsdl:message name="_GetProductDetailByIDSoapIn">
    <wsdl:part name="parameters" element="tns:_GetProductDetailByID" />
  </wsdl:message>
  <wsdl:message name="_GetProductDetailByIDSoapOut">
    <wsdl:part name="parameters" element="tns:_GetProductDetailByIDResponse" />
  </wsdl:message>
  <wsdl:message name="_GetProductCountByBarCodeSoapIn">
    <wsdl:part name="parameters" element="tns:_GetProductCountByBarCode" />
  </wsdl:message>
  <wsdl:message name="_GetProductCountByBarCodeSoapOut">
    <wsdl:part name="parameters" element="tns:_GetProductCountByBarCodeResponse" />
  </wsdl:message>
  <wsdl:message name="_GetProductDataByBarCodeSoapIn">
    <wsdl:part name="parameters" element="tns:_GetProductDataByBarCode" />
  </wsdl:message>
  <wsdl:message name="_GetProductDataByBarCodeSoapOut">
    <wsdl:part name="parameters" element="tns:_GetProductDataByBarCodeResponse" />
  </wsdl:message>
  <wsdl:message name="_GetProductDetailByBarCodeSoapIn">
    <wsdl:part name="parameters" element="tns:_GetProductDetailByBarCode" />
  </wsdl:message>
  <wsdl:message name="_GetProductDetailByBarCodeSoapOut">
    <wsdl:part name="parameters" element="tns:_GetProductDetailByBarCodeResponse" />
  </wsdl:message>
  <wsdl:message name="_InsertProductSoapIn">
    <wsdl:part name="parameters" element="tns:_InsertProduct" />
  </wsdl:message>
  <wsdl:message name="_InsertProductSoapOut">
    <wsdl:part name="parameters" element="tns:_InsertProductResponse" />
  </wsdl:message>
  <wsdl:message name="_UpdateProductSoapIn">
    <wsdl:part name="parameters" element="tns:_UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="_UpdateProductSoapOut">
    <wsdl:part name="parameters" element="tns:_UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="_DeleteProductSoapIn">
    <wsdl:part name="parameters" element="tns:_DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="_DeleteProductSoapOut">
    <wsdl:part name="parameters" element="tns:_DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="_UpdateProductQuantitySoapIn">
    <wsdl:part name="parameters" element="tns:_UpdateProductQuantity" />
  </wsdl:message>
  <wsdl:message name="_UpdateProductQuantitySoapOut">
    <wsdl:part name="parameters" element="tns:_UpdateProductQuantityResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductsSoap">
    <wsdl:operation name="_GetCategories">
      <wsdl:input message="tns:_GetCategoriesSoapIn" />
      <wsdl:output message="tns:_GetCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetCategory">
      <wsdl:input message="tns:_GetCategorySoapIn" />
      <wsdl:output message="tns:_GetCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetSubCategory">
      <wsdl:input message="tns:_GetSubCategorySoapIn" />
      <wsdl:output message="tns:_GetSubCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetSubCategories">
      <wsdl:input message="tns:_GetSubCategoriesSoapIn" />
      <wsdl:output message="tns:_GetSubCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetCompanies">
      <wsdl:input message="tns:_GetCompaniesSoapIn" />
      <wsdl:output message="tns:_GetCompaniesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_AddCategory">
      <wsdl:input message="tns:_AddCategorySoapIn" />
      <wsdl:output message="tns:_AddCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_UpdateCategory">
      <wsdl:input message="tns:_UpdateCategorySoapIn" />
      <wsdl:output message="tns:_UpdateCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_DeleteCategory">
      <wsdl:input message="tns:_DeleteCategorySoapIn" />
      <wsdl:output message="tns:_DeleteCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetProducts">
      <wsdl:input message="tns:_GetProductsSoapIn" />
      <wsdl:output message="tns:_GetProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetAvailableProducts">
      <wsdl:input message="tns:_GetAvailableProductsSoapIn" />
      <wsdl:output message="tns:_GetAvailableProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetProductDetailByID">
      <wsdl:input message="tns:_GetProductDetailByIDSoapIn" />
      <wsdl:output message="tns:_GetProductDetailByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetProductCountByBarCode">
      <wsdl:input message="tns:_GetProductCountByBarCodeSoapIn" />
      <wsdl:output message="tns:_GetProductCountByBarCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetProductDataByBarCode">
      <wsdl:input message="tns:_GetProductDataByBarCodeSoapIn" />
      <wsdl:output message="tns:_GetProductDataByBarCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_GetProductDetailByBarCode">
      <wsdl:input message="tns:_GetProductDetailByBarCodeSoapIn" />
      <wsdl:output message="tns:_GetProductDetailByBarCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_InsertProduct">
      <wsdl:input message="tns:_InsertProductSoapIn" />
      <wsdl:output message="tns:_InsertProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_UpdateProduct">
      <wsdl:input message="tns:_UpdateProductSoapIn" />
      <wsdl:output message="tns:_UpdateProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_DeleteProduct">
      <wsdl:input message="tns:_DeleteProductSoapIn" />
      <wsdl:output message="tns:_DeleteProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_UpdateProductQuantity">
      <wsdl:input message="tns:_UpdateProductQuantitySoapIn" />
      <wsdl:output message="tns:_UpdateProductQuantitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductsSoap" type="tns:ProductsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_GetCategories">
      <soap:operation soapAction="http://tempuri.org/_GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCategory">
      <soap:operation soapAction="http://tempuri.org/_GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSubCategory">
      <soap:operation soapAction="http://tempuri.org/_GetSubCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSubCategories">
      <soap:operation soapAction="http://tempuri.org/_GetSubCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCompanies">
      <soap:operation soapAction="http://tempuri.org/_GetCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddCategory">
      <soap:operation soapAction="http://tempuri.org/_AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/_UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/_DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProducts">
      <soap:operation soapAction="http://tempuri.org/_GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetAvailableProducts">
      <soap:operation soapAction="http://tempuri.org/_GetAvailableProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProductDetailByID">
      <soap:operation soapAction="http://tempuri.org/_GetProductDetailByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProductCountByBarCode">
      <soap:operation soapAction="http://tempuri.org/_GetProductCountByBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProductDataByBarCode">
      <soap:operation soapAction="http://tempuri.org/_GetProductDataByBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProductDetailByBarCode">
      <soap:operation soapAction="http://tempuri.org/_GetProductDetailByBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_InsertProduct">
      <soap:operation soapAction="http://tempuri.org/_InsertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/_UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/_DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateProductQuantity">
      <soap:operation soapAction="http://tempuri.org/_UpdateProductQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductsSoap12" type="tns:ProductsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_GetCategories">
      <soap12:operation soapAction="http://tempuri.org/_GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCategory">
      <soap12:operation soapAction="http://tempuri.org/_GetCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSubCategory">
      <soap12:operation soapAction="http://tempuri.org/_GetSubCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetSubCategories">
      <soap12:operation soapAction="http://tempuri.org/_GetSubCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetCompanies">
      <soap12:operation soapAction="http://tempuri.org/_GetCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_AddCategory">
      <soap12:operation soapAction="http://tempuri.org/_AddCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateCategory">
      <soap12:operation soapAction="http://tempuri.org/_UpdateCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DeleteCategory">
      <soap12:operation soapAction="http://tempuri.org/_DeleteCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProducts">
      <soap12:operation soapAction="http://tempuri.org/_GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetAvailableProducts">
      <soap12:operation soapAction="http://tempuri.org/_GetAvailableProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProductDetailByID">
      <soap12:operation soapAction="http://tempuri.org/_GetProductDetailByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProductCountByBarCode">
      <soap12:operation soapAction="http://tempuri.org/_GetProductCountByBarCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProductDataByBarCode">
      <soap12:operation soapAction="http://tempuri.org/_GetProductDataByBarCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_GetProductDetailByBarCode">
      <soap12:operation soapAction="http://tempuri.org/_GetProductDetailByBarCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_InsertProduct">
      <soap12:operation soapAction="http://tempuri.org/_InsertProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateProduct">
      <soap12:operation soapAction="http://tempuri.org/_UpdateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DeleteProduct">
      <soap12:operation soapAction="http://tempuri.org/_DeleteProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateProductQuantity">
      <soap12:operation soapAction="http://tempuri.org/_UpdateProductQuantity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Products">
    <wsdl:port name="ProductsSoap" binding="tns:ProductsSoap">
      <soap:address location="http://localhost:61258/Products.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductsSoap12" binding="tns:ProductsSoap12">
      <soap12:address location="http://localhost:61258/Products.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>